html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px;
  
  background: rgb(57,52,147);
  background: linear-gradient(0deg, rgba(57,52,147,1) 0%, rgba(33,72,135,1) 22%, rgba(7,67,125,1) 46%, rgba(4,86,130,1) 73%, rgba(0,116,139,1) 100%);
  background-attachment: fixed;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  color: white;
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #000c1156;
  /* background-color: #0022305b; */
  
  /* opacity: 0.6; */

  /* -- Border -- */
  border-radius: 3px;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.4);
  border: solid;
  border-color: rgb(0, 0, 0);
}

input {
  margin: 5px;
  margin-bottom: 10px;
  
}


.login_box {
  
  /* background-color: #efefef; */
  /* opacity: 0.3; */
}

/* .GridContainer {
  border: solid;
  border-color: rgb(0, 0, 0);
}

.GridItem {
  border: solid;
  border-color: rgb(0, 0, 0);
} */

/* #BackButtonMain{
  border: solid;
  border-color: rgb(0, 0, 0);
} */

/* #backButtonId {
  border: solid;
  border-color: rgb(0, 0, 0);
} */

/* .MainDiv{
  border: solid;
  border-color: rgb(255, 58, 58);
} */

/* #GridFooter{
  border: solid;
  border-color: rgb(87, 255, 49);
  border-radius: 13px;
} */


/*------------------MAIN COMPONENTS------------*/
/* .NavBarPink {
  border: solid;
  border-color: rgb(255, 49, 207);
  border-radius: 13px;

} */

h1, h2, h3, h4, h5 {
  color: white;
}

.moveDown{
  height: 9vh;
}

.userNameChange{
  color: white; 
}


/*------------------MAIN COMPONENTS------------*/