
/* body {
    background-image: url("/public/images/comedians/Backgrounds/tom_background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
} */

.cdcontainer {
    /* background-color: white; */
}

.moveDown{
    height: 9vh;
  }

  .description {
    color: white;
  }