

.MainMuiGreen {
    border: solid;
    border-color: rgb(84, 161, 67);
    border-radius: 13px;
}

.itemBox {
    border: solid;
    border-color: rgb(27, 27, 27);
    border-radius: 13px;

}

.testGridYellow {
    border: solid;
    border-color: rgb(234, 255, 0);
    border-radius: 13px;
 
}

.testGridItemWhite {
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 13px;
}

.inputsBlue {
    border: solid;
    border-color: rgb(0, 221, 255);
    border-radius: 13px;
    height: 400px
}